@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

:root {
    --avo-primary: #24b576;
    --avo-secondary: #e0f888;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

body {
    color: #000;
    line-height: 1;
    background-color: var(--avo-secondary);
}

.navlist ul {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
}

li {
    font-size: 1.25rem;
    padding: 0 10px;
    margin: 12px 0 12px 0;
}

.li-home,
.li-services,
.li-planters,
.li-contact {
    text-decoration: none;
    color: var(--avo-primary);
    border-top: 2px solid var(--avo-primary);
    border-bottom: 2px solid var(--avo-primary);
}

a {
    text-decoration: none;
    color: #000;
}

.navlist ul a:hover {
    text-decoration: none;
    color: var(--avo-primary);
    border-top: 2px solid var(--avo-primary);
    border-bottom: 2px solid var(--avo-primary);
}

.navlist ul a:focus {
    text-decoration: none;
    color: var(--avo-primary);
    border-top: 2px solid var(--avo-primary);
    border-bottom: 2px solid var(--avo-primary);
    outline: none;
} 

h1 {
    font-weight: 600;
    line-height: 1.2;
    margin: 20px 5px;
    color: var(--avo-primary);
}

h3 {
    font-size: 1.4rem;
    font-weight: 900;
    margin: 5px;
    color: var(--avo-primary);
}

p {
    margin: 5px 5px;
    line-height: 1.4rem;
    font-size: 1.2rem;
}

hr {
    width: 50%;
    border: 3px solid var(--avo-secondary);
    border-radius: 3px;
  }

.hr {
    margin: 20px;
  }

.hero-text {
    width: 50%;
    padding: 10px;
}

.copyright {
    font-size: .8rem;
    padding: 0px 0px 0 5px;
}

.section {
    display: grid;
    place-content: center;
    padding: 10px;
    background-color: var(--avo-primary);
    color: #FFF;
    border-bottom: 0.2rem solid #FFF;
}

.section h1 {
    color: var(--avo-secondary);
}

.sect-text {
    display: grid;
    place-items: center;
    max-width: 800px;
    text-align: center;
}

.sect-white {
    background-color: #FFF;
    color: var(--avo-primary);
}

/* ==================================================
   PAGE LAYOUT
   ================================================*/
.home-container {
    display: grid;
    min-height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr 0.5fr 0.25fr 0.5fr 0.5fr 0.5fr 0.25fr;
    gap: 0;
    grid-template-areas:
        "navigate"
        "main"
        "section"
        "section"
        "section"
        "section"
        "footer";
}

.services-container {
    display: grid;
    min-height: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.2fr 0.2fr 0.5fr 0.5fr 0.1fr;
    gap: 0;
    grid-template-areas:
        "navigate navigate navigate"
        "main main main"
        "content1 content2 content3"
        "content4 content5 content6"
        "content7 content8 content9"
        "footer footer footer";
}

.planters-container {
    display: grid;
    min-height: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.2fr 1fr 0.5fr 1fr 40px;
    gap: 0;
    grid-template-areas:
        "navigate navigate"
        "main main"
        "content1 content2"
        "content3 content4"
        "footer footer";
}

.contact-container {
    display: grid;
    min-height: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.25fr 2fr .4fr;
    gap: 0;
    grid-template-areas:
        "navigate navigate"
        "main quote"
        "footer footer";
}

.navigate {
    grid-area: navigate;
}

/* MAINS ============================================== */

.home-main {
    grid-area: main;
    background-color: var(--avo-primary);
    background-image: url(../images/equipment-2047314.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFF;
}

.services-main {
    grid-area: main;
    background-color: var(--avo-primary);
    background-image: url(../images/photo-1534254608209-03b8f2c24397.jpg);
    background-position: top;
    background-size: cover;
    color: #FFF;
}

.services-main p {
    text-shadow: 0 0 3px #000;
}

.planters-main {
    grid-area: main;
    background-color: var(--avo-primary);
    background-image: url(../images/flowers-gcc9de32c2_1920.jpg);
    background-position: center;
    background-size: cover;
    color: #FFF;
}

.planters-main p,
.home-main p {
    text-shadow: 0 0 3px #000, 0 0 10px #000;
}

.planters-main h1,
.services-main h1,
.home-main h1 {
    color: var(--avo-secondary);
}

.content1 {grid-area: content1;}
.content2 {grid-area: content2;}
.content3 {grid-area: content3;}
.content4 {grid-area: content4;}
.content5 {grid-area: content5;}
.content6 {grid-area: content6;}
.content7 {grid-area: content7;}
.content8 {grid-area: content8;}
.content9 {grid-area: content9;}

.footer {
    grid-area: footer;
    background-color: var(--avo-secondary);
}

/* ==================================================
   NAVIGATION
   ================================================*/

.header-logo {
    width: 90%;
    max-width: 600px;
    margin: 0 20px;
}

.navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--avo-secondary);
    width: 100%;
}

/* ==================================================
   UTILITIES
   ================================================*/

.sticky {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}

.avo-button {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: var(--avo-secondary);
    width: 8rem;
    padding: .5rem;
    border-radius: 3px;
    margin: 10px 5px;
    margin-top: 20px;
    font-weight: bold;
}

.avo-button:hover {
    background-color: #fff;
}

.avo-button a {
    color: var(--avo-primary);
}

.avo-button a:hover {
    color: #000;
}

/* ==================================================
   HOME PAGE
   ================================================*/

.home-main {
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    justify-content: flex-start;
    align-items: baseline;
    width: 100%;
}

.img-quote {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    object-fit: cover;
    object-position: 50% 50%;
}

.home-hero {
    text-align: center;
    margin: auto;
    max-width: 900px;
    height: auto;
    padding: 10px;
    background-color: rgba(10, 51, 33, 0.5);
    border-radius: 10px;
}

.home-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 15px;
    max-width: 750px;
}

.leaf-bullet {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

h1.leaf-h1 {
    color: var(--avo-primary);
    padding-bottom: 0;
    margin-bottom: 0;
}

div.sect-white {
    display: grid;
    place-items: center;
}

.avo-leaf {
    width: 1.5rem;
    height: 2rem;
    padding: 0;
    margin: 0;
}

.avo-leaf:hover {
    width: 1.5rem;
    height: 2rem;
    padding: 0;
    margin: 0;
    transform: rotate(720deg);
    transition: 700ms ease-out;
}

/* ==================================================
   SERVICES PAGE
   ================================================*/

.services-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    max-width: 90vw;
    min-width: none;
    /* border: 1px solid black; */
}

.services-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #FFF;
    padding: 15px;
    border-right: 2px dotted var(--avo-primary);
    border-bottom: 2px dotted var(--avo-primary);
}

.services-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    border-radius: 0.2rem;
    width: 2rem;
    height: 2rem;
    background-color: var(--avo-primary);
}

.services-heading {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.services-footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: var(--avo-secondary);
    color: var(--avo-primary);
    font-weight: bold;
    list-style-type: none;
}

.services-footer div {
    margin: 0 20px;
    font-size: 1.25rem;
}

.services-footer a {
    color: var(--avo-primary); 
}

/* ==================================================
   PLANTERS PAGE
   ================================================*/

.plant-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    max-width: 90vw;
    min-width: none;
    /* border: 1px solid black; */
}

/* .plant-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 15px;
    max-width: 750px;
} */

.plant-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #FFF;
    padding: 15px;
    border-right: 2px dotted var(--avo-primary);
    border-bottom: 2px dotted var(--avo-primary);
}

.plant-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    border-radius: 1rem;
    width: 2rem;
    height: 2rem;
    background-color: var(--avo-primary);
}

.plant-heading {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.planters-hero {
    padding: 10px;
}

.planters-text,
.services-text {
    font-size: 1.6rem;
    line-height: 2rem;
    max-width: 750px;
}

.plant-footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: var(--avo-secondary);
    color: var(--avo-primary);
    font-weight: bold;
    list-style-type: none;
}

.plant-footer div {
    margin: 0 20px;
    font-size: 1.25rem;
}

.plant-footer a {
    color: var(--avo-primary); 
}

.fa-snowflake,
.fa-sun,
.fa-leaf,
.fa-cloud-rain,
.fa-check {
    color: var(--avo-secondary);
}

/* ==================================================
   CONTACT PAGE & QUOTE FORM
   ================================================*/

.contact-main {
    display: flex;
    flex-flow: row wrap;
    background-color: var(--avo-primary);
    color: #FFF;
    padding: 10px;
    justify-content: flex-start;
    align-items: baseline;
    width: 100%;
}

.contact-main h1 {
    color: var(--avo-secondary);
    margin-top: 0%;
}

.contact-main a {
    color: #FFF;
}

.contact-main a:hover {
    color: #FFF;
    font-weight: bold;
}

.contact-quote {
    height: auto;
    background-color: var(--avo-primary);
    padding: 10px;
    border-left: 2px dotted #FFF;
}

.h1-form {
    margin: 0;
    padding: 0;
    color: var(--avo-secondary);
}

.req-quote {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.fa-caret-square-down {
    color: var(--avo-secondary);
    font-size: 24px;
    margin-right: 10px;
    margin-left: 5px;
}

.input-box {
    font-size: 16px;    
    width: 304px;
    height: 30px;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--avo-primary);
    background-color: #fff;
}

.checkboxes {
    width: 304px;
    height: auto;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--avo-primary);
    background-color: #fff;
    color: #333;
}

.input-check {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    margin: 5px;
}

label {
    padding: 0 3px;
    color: #666;
}

.chk-labels {
    font-size: 16px;
    display: flex;
    align-items: center;
}

.input-area {
    font-size: 16px;    border: 1px solid #24b576;
    width: 304px;
    height: 160px;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: #fff;
}

.captcha-box {
    padding: 6px;
    margin: 0;
    width: 300px;
}


.sub-btn {
    font-size: 16px;
    border: 0;
    width: 90px;
    height: 30px;
    margin: 5px 11px 0px 5px;
    border-radius: 5px;
    background-color: var(--avo-secondary);
    color: #333;
    cursor: pointer;
}

.reset-btn {
    font-size: 16px;    border: 0;
    width: 90px;
    height: 30px;
    margin: 5px;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

/* ==================================================
   THANK YOU PAGE
   ================================================*/

.ty-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
    overflow: auto;
    padding: 0;
}

.thankyou {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
}

.ty-text {
    text-align: center;
    max-width: 600px;
}

/* ==================================================
   COMING SOON PAGE
   ================================================*/

.hidden {
    display: none;
}

.coming-soon {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 95%;
    height: 400px;
    background-color: var(--avo-primary);
    color: #fff;
    margin: 20px;
    border-radius: 10px;
    /* box-shadow: 4px 4px 4px rgba(0,0,0,0.4); */
}

.h1-white {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 72px;
}

/* ==================================================
   MEDIA QUERIES
   ================================================*/

@media only screen and (max-width: 1200px) {

    .hero-text {
        width: 75%;
        }
        
    .services-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: .2fr 1fr repeat(5, .4fr) 40px;
        min-height: 100%;
        grid-template-areas:
        "navigate navigate"
        "main main"
        "content1 content2"
        "content3 content4"
        "content5 content6"
        "content7 content8"
        "content9 content9"
        "footer footer";
    }
}

@media only screen and (max-width: 600px) {

    hr {
        width: 80%;
        border: 3px solid var(--avo-secondary);
        border-radius: 3px;
        margin: auto;
      }

    .hero-text {
        width: 100%;
        }

    .home-container {
        grid-template-columns: 1fr;
        grid-template-rows: .2fr 1fr .4fr .4fr .4fr .4fr 40px;
        min-height: 100%;
        grid-template-areas:
        "navigate"
        "main"
        "content"
        "content"
        "content"
        "content"
        "footer";
    }

    .home-hero {
        max-width: 100%;
        height: auto;
        padding: 10px;
        background-color: rgba(10, 51, 33, 0.5);
}


    .services-container {
        grid-template-columns: 1fr;
        grid-template-rows: .2fr 1fr repeat(9, .4fr) 40px;
        min-height: 100%;
        grid-template-areas:
        "navigate"
        "main"
        "content1"
        "content2"
        "content3"
        "content4"
        "content5"
        "content6"
        "content7"
        "content8"
        "content9"
        "footer";
    }

    .planters-container {
        grid-template-columns: 1fr;
        grid-template-rows: .2fr 1fr repeat(4, .4fr) 40px;
        min-height: 100%;
        grid-template-areas:
        "navigate"
        "main"
        "content1"
        "content2"
        "content3"
        "content4"
        "footer";
    }

    .plant-item:nth-child(even),
    .services-item:nth-child(even) {
        background-color: rgb(246, 253, 220);
    }

    .plant-footer,
    .services-footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .plant-footer div,
    .services-footer div {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3px;
        font-size: 1.25rem;
    }

    .plant-footer div:first-child,
    .services-footer div:first-child {
        grid-column: 1 / 3;
    }

    .planters-text,
    .services-text {
        font-size: 1.2rem;
        line-height: 1.6rem;
        max-width: 270px;
    }

    .planters-hero {
        padding: 10px;
    }

    .contact-container {
        grid-template-columns: 1fr;
        grid-template-rows: .2fr .5fr .4fr 40px;
        min-height: 100%;
        grid-template-areas:
        "navigate"
        "main"
        "quote"
        "footer";
    }

    .contact-quote {
        height: auto;
        background-color: var(--avo-primary);
        padding: 10px;
        border: 0;
        border-top: 2px dotted #FFF;
    }
}













